a {
  color: #cd9bff;
}

a:hover {
  color: #ead5ff;
}

.nav,
.footer {
  background-color: #400080;
  color: #fff;
}

.navlogo {
  height: 8em;
  padding-top: 1em;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #d2caff;
  padding: 1em;
}

input {
  width: 100%;
}

.shift {
  width: fit-content;
}

.btn {
  background-color: #400080;
  border: 4px solid #fff;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border: 4px solid #400080;
  color: #400080;
}
